<template>
    <button type="button" class="uk-button" :class="'uk-button-'+buttonType" @click.prevent.stop="confirmAction"
            :disabled="isWorking || !enabled">
        <div v-if="isWorking" uk-spinner></div>
        <div v-else>
            <i v-if="icon" :uk-icon="iconData"></i>
            {{ buttonText }}
        </div>
    </button>
</template>
<script>
  import UIkit from 'uikit'
  import axios from 'axios'

  export default {
    props: {
      url: {
        type: String,
        required: true
      },
      method: {
        type: String,
        default: 'get'
      },
      data: {
        type: Object | Array,
        default: () => {
        }
      },
      buttonText: {
        type: String,
        default: ''
      },
      buttonType: {
        type: String,
        default: 'default'
      },
      icon: {
        type: String,
        default: null
      },
      iconRatio: {
        type: Number | String,
        default: 1
      },
      confirmText: {
        type: String,
        default: 'Procedere?'
      },
      errorHeading: {
        type: String,
        default: '<h3>Errore:</h3>'
      },
      enabled: {
        type: Boolean,
        default: true
      },
      redirectOnSuccess: {
        type: Boolean,
        default: true
      }
    },
    data() {
      return {
        isWorking: false
      }
    },
    computed: {
      iconData() {
        return 'icon: ' + this.icon + '; ratio: ' + this.iconRatio
      }
    },
    methods: {
      confirmAction() {
        const vm = this
        UIkit.modal.confirm(vm.confirmText, {
          labels: {
            'ok': 'Ok',
            'cancel': 'Annulla'
          }
        }).then(() => {
          vm.action()
        }).catch(() => {
        })
      },
      action() {
        const vm = this
        vm.isWorking = true
        axios({
          method: vm.method,
          url: vm.url,
          data: vm.data
        }).then(response => {
          if (this.redirectOnSuccess) window.location.href = response.data || response
        }).catch(error => {
          vm.isWorking = false
          const message = this.getMessage(error)
          UIkit.modal.alert(vm.errorHeading + message)
        })
      },
      getMessage(error) {
        const response = error.response.data || error.response || error
        return response.message || response
      }
    }
  }
</script>