<template>
    <div v-text="formattedText"></div>
</template>
<script>
    import ApiComponent from './mixins/ApiComponent'
    import _ from 'lodash'

    export default {
      mixins: [ApiComponent],
      props: {
        'field': {
          type: String,
          default: null
        },
        'format': {
          type: String,
          default: '%field%'
        }
      },
      computed: {
        formattedText: function() {
          return _.replace(this.format, '%field%', (this.field) ? this.data[this.field] : this.data)
        }
      },
      mounted () {
        this.populateData()
      }
    }
</script>