<template>
    <div>
        <label class="uk-form-label" v-if="label" v-text="label"></label>
        <div class="uk-form-controls">
            <input
                type="text"
                class="uk-input"
                v-model="search"
                @input="updateList"
                @keyup.enter.capture.prevent.stop="select(selectedItem)"
                @keyup.up.prevent="navigateList(-1)"
                @keyup.down.prevent="navigateList(1)"
                @blur="closeList"
                @keyup.esc="closeList"
            >
        </div>
        <div :class="'autocomplete-uk-dropdown '+name">
            <div class="autocomplete-spinner uk-text-center" v-if="isWorking">
                <div uk-spinner></div>
            </div>
            <ul class="uk-nav uk-dropdown-nav" v-else>
                <li
                    v-for="item, index in list"
                    :key="itemValue(item)"
                    :class="{ 'uk-active': item === selectedItem }">
                    <a href="#" v-text="itemLabel(item)" @click.prevent="select(item)"></a>
                </li>
                <li v-if="list.length == 0">
                    <em class="uk-text-muted">Nessun risultato trovato</em>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
  import axios from 'axios'
  import _ from 'lodash'
  import UIkit from 'uikit'

  export default {
    props: {
      name: {
        type: String,
        required: true
      },
      value: {
        type: String|Number|Array,
        default: '',
        required: true
      },
      url: {
        type: String,
        required: true
      },
      detailUrl: {
        type: String,
        default: null
      },
      label: {
        type: String
      },
      labelField: {
        type: String,
        default: null
      },
      valueField: {
        type: String,
        default: null
      },
      delay: {
        type: Number,
        default: 1000
      },
      actualValue: {
        type: String|Object|Array,
        default: () => null
      },
      actualItem: {
        type: String|Object|Array,
        default: () => null
      }
    },
    data() {
      return {
        dropdown: null,
        search: null,
        isWorking: false,
        list: [],
        selectedItem: null
      }
    },
    computed: {
      realDetailUrl () {
        return this.detailUrl || this.url
      }
    },
    watch: {
      value: function(newVal) {
        const vm = this
        vm.search = vm.itemLabel(_.head(vm.list.filter(function(item) {
          return newVal == ((vm.valueField) ? vm.itemValue(item) : item)
        })))
      }
    },
    mounted() {
      this.init()
      this.initDropdown()
      this.initUpdateMethod()
    },
    methods: {
      init: function () {
        if (this.actualValue && !this.actualItem) {
          axios.get(this.realDetailUrl + '/' + this.actualValue).then(response => {
            //this.actualItem = response.data
          })
        }
      },
      initDropdown: function () {
        this.dropdown = UIkit.dropdown('.autocomplete-uk-dropdown.'+this.name, {
          'mode': '',
          'pos': 'bottom-justify',
          'delayHide': 0
        })
      },
      initUpdateMethod: function () {
        this.getData(true)
        this.updateList = _.debounce(this.updateData, this.delay)
      },
      updateList: function () {}, // instantiate debounce on init
      updateData: function() {
        this.selectedItem = this.actualValue
        this.getData()
      },
      getData: function(init = false) {
        this.isWorking = true
        axios.get(this.url, {
          'params': {
            'search': this.search
          }
        }).then(response => {
          this.list = response.data.data || response.data || response
        }).catch(error => {
          console.log(error)
        }).then(() => {
          if (!init) this.openList()
          this.isWorking = false
        })
      },
      openList: function () {
        this.dropdown.show()
      },
      closeList: function () {
        this.dropdown.hide()
      },
      navigateList: function (step = 1) {
        let index = _.indexOf(this.list, this.selectedItem)
        index = _.clamp(index + step, 0, this.list.length - 1)
        this.selectedItem = this.list[index]
        this.openList()
      },
      select: function (item = null) {
        this.search = ''
        this.emit(this.itemValue(item))
      },
      itemLabel: function(item) {
        if (!item) return (this.actualValue) ? this.actualValue[this.labelField] || this.actualValue : '';
        return (this.labelField && item[this.labelField]) ? item[this.labelField] : item
      },
      itemValue: function(item) {
        if (!item) return (this.actualValue) ? this.actualValue[this.valueField] || this.actualValue : null;
        return (this.valueField && item[this.valueField]) ? item[this.valueField] : item
      },
      emit: function (val = '') {
        this.closeList()
        console.log(val);
        this.$emit('input', val)
      }
    }
  }
</script>
<style lang="scss">
    .autocomplete-uk-dropdown {
        padding: 0;
        .autocomplete-spinner {
            padding: 16px 0;
        }
        > ul {
            padding: 16px 0;
            > li {
                padding: 4px 16px;
                &.uk-active {
                    background-color: #f8f8f8;
                }
            }
        }
    }
</style>