<template>
  <div>
    <vue-editor
      :value="value || ''"
      :editorToolbar="toolbarButtons"
      @input="emit"
    ></vue-editor>
  </div>
</template>
<script>
import { VueEditor } from 'vue2-editor'
import _ from 'lodash'

export default {
  props: {
    value: {
      type: String,
      default: ''
    },
    customToolbar: {
      type: Array,
      default: () => []
    },
  },
  data () {
    return {
      defaultButtons: [
        [{'align': [false, 'center', 'right']}],
        ['bold', 'italic', 'underline'],
        [{'list': 'bullet'}, {'list': 'ordered'}],
        ['link'],
        [{'header': [1, 2, 3, 4, 5, 6, false]}]
      ]
    }
  },
  computed: {
    toolbarButtons() {
      return this.defaultButtons
    }
  },
  components: {
    VueEditor
  },
  methods: {
    emit(val) {
      this.$emit('input', val)
    }
  }
}
</script>
