<template>
  <div>
    <ch-loading-spinner :toggle="isLoading"></ch-loading-spinner>
    <form class="uk-form-stacked" @submit.prevent="" v-shortkey.once="['ctrl', 'esc']" @shortkey="back">
      <slot :item="data" :errors="errors" :update="shootUpdate" :is-new="isNew"></slot>
      <div class="uk-tile uk-tile-muted uk-padding-small uk-margin-top">
        <nav class="uk-navbar-container ch-form-buttons" uk-navbar>
          <div class="uk-navbar-left">
            <button v-if="deletable && !isNew" type="button" class="uk-button uk-button-danger" @click.prevent="confirmDestroy"><span uk-icon="icon: trash"></span> Elimina</button>
            <slot name="navbar_right" class="uk-margin-left"></slot>
          </div>
          <div class="uk-navbar-right">
            <slot name="navbar_left" class="uk-margin-right"></slot>
            <div class="uk-button-group">
              <button type="button" class="uk-button uk-button-default" @click.prevent="back"><span uk-icon="icon: close"></span> Chiudi</button>
              <button type="button" class="uk-button uk-button-primary" v-shortkey.once="['ctrl', 's']" @shortkey="save" :disabled="invalid" @click="save"><span uk-icon="icon: check"></span> {{(isNew) ? 'Salva' : 'Aggiorna'}}</button>
            </div>
          </div>
        </nav>
      </div>
    </form>
  </div>
</template>
<script>
import UIkit from 'uikit'
import _ from 'lodash'

import ApiComponent from './mixins/ApiComponent'

export default {
  mixins: [
    ApiComponent
  ],
  props: {
    id: {
      type: Number,
      default: null
    },
    deletable: {
      type: Boolean,
      default: true
    },
    isNew: {
      type: Boolean,
      default: false
    },
    defaultData: {
      type: Object
    },
    closeUri: {
      type: String,
    },
    editOnCreate: {
      type: Boolean,
      default: true
    },
    showOnUpdate: {
      type: Boolean,
      default: false
    },
    successModalButtons: {
      type: Object,
      default: () => {
        return {
          'ok_label': 'OK',
          'cancel_label': 'CHIUDI',
          'ok_url': null,
          'cancel_url': null
        }
      }
    }
  },
  data () {
    return {
      errors: [],
      shootUpdate: {
        message: '',
        data: null
      }
    }
  },
  watch: {
    shootUpdate: {
      handler: function(val) {
        this.$nextTick(() => {
          this.confirmUpdate(val.message, val.data)
        })
      },
      deep: true
    }
  },
  computed: {
    invalid () {
      return (this.data) ? this.data.invalid || false : false
    }
  },
  mounted() {
    if (this.isNew) {
      this.data = (this.defaultData) ? _.cloneDeep(this.defaultData) : {}
    } else {
      this.populateData()
    }
  },
  methods: {
    save() {
      if (this.invalid) return
      const uikit = UIkit
      const vm = this
      vm.errors = []
      if (this.data.id) {
        this.update().then(() => {
          uikit.modal.confirm('Aggiornamento avvenuto con successo.', {
            'labels': {
              'ok': vm.successModalButtons.ok_label,
              'cancel': vm.successModalButtons.cancel_label
            }
          }).then(() => {
            if (vm.showOnUpdate && !vm.successModalButtons.ok_url) {
              window.location.href = window.location.href.replace('/edit', '')
            } else if (vm.successModalButtons.ok_url) {
              window.location.href = vm.successModalButtons.ok_url
            }
          }).catch(() => {
            if (vm.successModalButtons.cancel_url) {
              window.location.href = vm.successModalButtons.cancel_url
            }
          })
        }).catch(e => {
          vm.populateErrors(e)
          uikit.modal.alert(vm.formatError(e)).then(() => {
            vm.isLoading = false
          })
        })
      } else {
        this.store().then(response => {
          const id = response.data.id
          uikit.modal.confirm('Inserimento avvenuto con successo.', {
            'labels': {
              'ok': vm.successModalButtons.ok_label,
              'cancel': vm.successModalButtons.cancel_label
            }
          }).then(() => {
            let redirect = '';
            if (vm.successModalButtons.ok_url) {
              redirect = vm.successModalButtons.ok_url
            } else {
              redirect = window.location.href.replace(/create\/?.*/, id)
              if (vm.editOnCreate) redirect += '/edit'
            }
            window.location.href = redirect
          }).catch(() => {
            if (vm.successModalButtons.cancel_url) {
              window.location.href = vm.successModalButtons.cancel_url
            }

          })
        }).catch(e => {
          vm.populateErrors(e)
          uikit.modal.alert(vm.formatError(e)).then(() => {
            vm.isLoading = false
          })
        })
      }
    },
    confirmDestroy() {
      const vm = this
      const ukit = UIkit
      ukit.modal.confirm('Procedere con la cancellazione?').then(function() {
        vm.destroy().then(() => {
          ukit.modal.alert('Cancellazione eseguita correttamente.').then(() => {
            vm.back()
          })
        })
      })
    },
    confirmUpdate(message, data) {
      const vm = this
      const uikit = UIkit
      uikit.modal.confirm(message).then(function() {
        vm.update(data).then((response) => {
          if (response) vm.data = response.data.data || response.data
          uikit.modal.alert('Aggiornamento avvenuto con successo.')
        }).catch(e => {
          vm.populateErrors(e)
          uikit.modal.alert(vm.formatError(e)).then(() => {
            vm.isLoading = false
          })
        })
      });
    },
    back() {
      if (this.closeUri) {
        window.location.href = this.closeUri
      } else {
        history.back()
      }
    },
    formatError(error) {
      error = this.getErrorsData(error)
      let message = '';
      if (_.isArray(error.errors) && error.errors.length > 0) {
        message += _.join(value, '<br/>')
      } else if (_.isObject(error.errors)) {
        _.forOwn(error.errors, (value, key) => {
          // message += '<h4 class="uk-margin-remove uk-text-uppercase">' + key + ':</h4>'
          message += _.join(value, '<br/>')
          message += '<br/>'
        })
      } else {
        message += '<h3>' + (error.message || error) + '</h3>'
      }
      return message
    },
    populateErrors(error) {
      error = this.getErrorsData(error)
      const vm = this
      if (_.isArray(error.errors) && error.errors.length > 0) {
        vm.errors = error.errors
      } else if (_.isObject(error.errors)) {
        vm.errors = _.keys(error.errors)
      } else {
        message += '<h3>' + (error.message || error) + '</h3>'
      }
    },
    getErrorsData(error) {
      return error.response.data || error.response || error
    }
  }
}

</script>