<template>
  <div id="page-loader" uk-modal>
    <div class="uk-light uk-position-center" uk-spinner></div>
  </div>
</template>
<script>
import UIkit from 'uikit'

export default {
  props: {
    toggle: {
      type: Boolean,
      required: true
    }
  },
  watch: {
    toggle: function(val) {
      if (val) {
        UIkit.modal('#page-loader').show()
      } else {
        UIkit.modal('#page-loader').hide()
      }
    }
  }
}
</script>
