<template>
  <div>
    <button class="ch-email-preview__toggle uk-button uk-width-1-1 uk-button-default" type="button">
      <i v-show="!isOpen" uk-icon="icon: plus"></i>
      <i v-show="isOpen" uk-icon="icon: minus"></i>
      {{ title }}
    </button>
    <div class="ch-email-preview__wrapper">
      <div class="ch-email-preview__inner" :hidden="!open">
        <iframe class="ch-email-preview__frame uk-width-1-1 uk-height-1-1" :src="url"></iframe>
      </div>
    </div>
  </div>
</template>
<script>
import UIkit from 'uikit'

export default {
  props: {
    url: {
      type: String,
      required: true
    },
    title: {
      type: String,
      default: 'Anteprima'
    },
    open: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      isOpen: true
    }
  },
  mounted () {
    this.isOpen = this.open
    UIkit.toggle('.ch-email-preview__toggle', {
      target: '.ch-email-preview__inner',
      animation: 'uk-animation-slide-top uk-animation-fade'
    });
    $('.ch-email-preview__inner').on('beforeshow', () => {
      this.isOpen = true
    });
    $('.ch-email-preview__inner').on('beforehide', () => {
      this.isOpen = false
    });
  }
}
</script>
<style lang="scss" scoped>
.ch-email-preview__toggle {
  text-align: left;
}
.ch-email-preview__wrapper {
  overflow: hidden;
}
.ch-email-preview__inner {
  height: 800px;
  border: 1px solid #dedede;
  border-top: none;
}
</style>
