<template>
  <ul class="uk-pagination" :class="classes">
    <li v-if="currentPage > 1"><a href="#" @click.prevent="itemClick(currentPage - 1)"><span uk-pagination-previous></span></a></li>
    <li v-if="currentPage > 3"><a href="#" @click.prevent="itemClick(1)">1</a></li>
    <li v-if="currentPage > 4" class="uk-disable"><span>…</span></li>
    <li v-if="(currentPage - 2) > 0"><a href="#" @click.prevent="itemClick(currentPage - 2)">{{currentPage - 2}}</a></li>
    <li v-if="(currentPage - 1) > 0"><a href="#" @click.prevent="itemClick(currentPage - 1)">{{currentPage - 1}}</a></li>
    <li v-if="currentPage" class="uk-active"><span>{{currentPage}}</span></li>
    <li v-if="(currentPage + 1) <= lastPage"><a href="#" @click.prevent="itemClick(currentPage + 1)">{{currentPage + 1}}</a></li>
    <li v-if="(currentPage + 2) <= lastPage"><a href="#" @click.prevent="itemClick(currentPage + 2)">{{currentPage + 2}}</a></li>
    <li v-if="(lastPage - currentPage) > 3" class="uk-disable"><span>…</span></li>
    <li v-if="(lastPage - currentPage) > 2"><a href="#" @click.prevent="itemClick(lastPage)">{{lastPage}}</a></li>
    <li v-if="(lastPage - currentPage) > 0"><a href="#" @click.prevent="itemClick(currentPage + 1)"><span uk-pagination-next></span></a></li>
  </ul>
</template>
<script>
  export default {
    props: {
      currentPage: {
        type: Number,
        required: true
      },
      lastPage: {
        type: Number,
        required: true
      },
      classes: {
        type: [Array, Object, String],
        default: ''
      }
    },
    methods: {
      itemClick(val) {
        this.$emit('click', val)
      }
    }
  }
</script>