<template>
    <div>
        <label>Scegli un segmento o imposta i filtri</label>
        <div class="uk-child-width-1-1 uk-child-width-1-2@s" uk-grid>
            <div>
                <h4 v-text="'Destinatari: '+count"></h4>
            </div>
            <div v-if="false">
                <ch-select
                    class="uk-form-controls uk-margin-bottom"
                    :value="segmentId"
                    :url="selectUrl"
                    :init="true"
                    label="description"
                    @input="emitSelect"
                    ref="select"
                ></ch-select>
            </div>
        </div>
        <div class="uk-tile uk-tile-muted uk-padding-small" v-if="true">
            <div uk-grid>
                <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-6@m">
                    <label class="uk-form-label" for="ch-filter-gender">Sesso</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" id="ch-filter-gender" v-model.lazy="internalFilters.gender">
                            <option value=""></option>
                            <option value="M">M</option>
                            <option value="F">F</option>
                        </select>
                    </div>
                </div>
                <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-6@m">
                    <label class="uk-form-label">Età</label>
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-2">
                            <div class="uk-form-controls">
                                <input type="text" id="ch-filter-age-min" class="uk-input"
                                       v-model.lazy="internalFilters.age_min" placeholder="Da"/>
                            </div>
                        </div>
                        <div class="uk-width-1-2">
                            <div class="uk-form-controls">
                                <input type="text" id="ch-filter-age-max" class="uk-input"
                                       v-model.lazy="internalFilters.age_max" placeholder="A"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1 uk-width-1-3@m">
                    <label class="uk-form-label">Provenienza</label>
                    <ch-select
                            class="uk-form-controls"
                            v-model="internalFilters.source"
                            :init="true"
                            :value-field="null"
                            url="/api/data/contacts/source"
                    >
                    </ch-select>
                </div>
                <div class="uk-width-1-1 uk-width-1-3@m">
                    <label class="uk-form-label">Comune</label>
                    <ch-select
                            class="uk-form-controls"
                            label="denominazione_corrente"
                            v-model="internalFilters.city"
                            url="/api/data/comuni"
                    >
                    </ch-select>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios'

    const defaultFilters = {
      gender: null,
      age_min: null,
      age_max: null,
      source: null,
      city: null,
    }

    export default {
      props: {
        selectUrl: {
          type: String,
          required: true
        },
        countUrl: {
          type: String
        },
        segmentId: {
          type: Number
        },
        route: {
          type: String
        },
        modelFilters: {
          type: Object,
          default: function() { return _.clone(defaultFilters) }
        }
      },
      data() {
        return {
            count: 0,
            internalFilters: {}
        }
      },
      watch: {
        internalFilters: {
          handler: function() {
            this.emitChange()
          },
          deep: true
        },
        route: function() { this.countResult() },
        modelFilters: {
          handler: function() {
            this.countResult()
          },
          deep: true
        },
        segmentId: function() { this.countResult() },
      },
      computed: {
        baseFilters: function() {
          const filters = {}
          if (this.route) filters[this.route+'_state'] = 'subscribed'
          return filters;
        },
        fullFilters: function() {
          return _.extend(
            {},
            this.contactsFilters,
            this.baseFilters,
          )
        },
        contactsFilters: function() {
          return (this.$refs.select && this.$refs.select.selected) ? this.$refs.select.selected.filters : this.internalFilters
        }
      },
      created() {
        this.internalFilters = _.clone(this.modelFilters || defaultFilters)
      },
      methods: {
        emitSelect(item) {
          this.$emit('select', item)
        },
        emitChange() {
          this.$emit('change', this.contactsFilters)
        },
        countResult() {
          if (!this.countUrl) return this.count = 'N/D'
          const vm = this
          axios.get(vm.countUrl, {
            params: this.fullFilters
          }).then(response => {
            if (typeof response.data.data !== 'undefined') {
              vm.count = response.data.data
            } else if (typeof response.data !== 'undefined') {
              vm.count = response.data
            } else {
              vm.count = response
            }
          }).catch(e => {
            console.log(e)
          });
        }
      }
    }
</script>