<template>
    <vue-select
            v-model="selected"
            @input="emit"
            :options="options"
            :on-search="onSearch"
            :label="label"
    >
        <span slot="no-options">Nessun risultato</span>
    </vue-select>
</template>
<script>
    import VueSelect from 'vue-select'
    import _ from 'lodash'
    Vue.component('vue-select', VueSelect)

    export default {
      props: {
        label: {
          type: String,
          default: null
        },
        valueField: {
          type: String,
          default: 'id'
        },
        value: {
          type: String|Number,
          required: true
        },
        url: {
          type: String,
          required: true
        },
        delay: {
          type: Number,
          default: 500
        },
        init: {
          type: Boolean,
          default: false
        }
      },
      data() {
        return {
          options: [],
          selected: null
        }
      },
      created () {
        if (this.value) this.getSelected()
        this.updateOptions = _.debounce(this.getOptions, this.delay)
        if (this.init) this.getOptions('', null, this)
      },
      methods: {
        onSearch: function(search, loading) {
          loading(true);
          this.updateOptions(search, loading, this)
        },
        updateOptions: () => {},
        getOptions: (search, loading, vm) => {
          axios.get(vm.url, {
            'params': {
              'search': search
            }
          }).then(response => {
            vm.options = response.data.data || response.data || response
          }).catch(e => {
            console.log(e)
          }).then(() => {
            if (loading) loading(false)
          })
        },
        getSelected: function() {
          const vm = this
          if (this.valueField) {
            axios.get(vm.url + '/' + vm.value).then(response => {
              if (typeof response.data.data !== 'undefined') {
                vm.selected = response.data.data
              } else if (typeof response.data !== 'undefined') {
                vm.selected = response.data
              } else {
                vm.selected = response
              }
            }).catch(e => {
              console.log(e)
            })
          } else {
            vm.selected = _.clone(vm.value)
          }
        },
        emit: function(val = null) {
          if (!val) {
            this.$emit('input', null)
            this.$emit('select', null)
          } else {
            const newVal = (val[this.valueField]) ? val[this.valueField] : val
            this.$emit('input', newVal)
            this.$emit('select', val)
          }
        }
      }
    }
</script>
<style lang="less">
    .v-select {
        background-color: #ffffff;
        .dropdown-toggle, .dropdown-menu {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            border-color: #e5e5e5;
        }
        input[type="search"],
        input[type="search"]:focus,
        .selected-tag {
            height: 40px;
            line-height: 40px;
            margin: 0;
            padding: 0 10px;
        }
        input[type="search"]:focus {
            border-color: #1e87f0;
        }
    }
</style>