<template>
  <div>
    <textarea class="uk-textarea" :value="value" @input="emit"></textarea>
    <p class="uk-width-1-1 uk-text-right uk-text-muted uk-margin-remove" :class="{'uk-text-danger': remainingCharacters < 0 }">{{ remainingCharacters }}/{{ maxLength }}</p>
  </div>
</template>
<script>
import SmsTools from '../utilities/SmsTools'

export default {
  props: {
    value: {
      type: String,
      default: ''
    },
    valid: {
      type: Boolean
    },
    gsmOnly: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    value() {
      this.$emit('update:invalid', this.remainingCharacters < 0)
    }
  },
  computed: {
    encoding () {
      return (SmsTools.gsmEncodingPattern.test(this.value)) ? 'gsm' : 'unicode'
    },
    maxLength () {
      return SmsTools.maxLengthForEncoding[this.encoding].normal
    },
    lengthReal () {
      return (this.value) ? this.value.length : 0
    },
    lengthEncoded () {
      return this.lengthReal + this.getEncodeExtraLength()
    },
    remainingCharacters () {
      return this.maxLength - this.lengthEncoded
    },
  },
  methods: {
    emit (ev) {
      ev.target.value = this.sanitize(ev.target.value)
      this.$emit('input', ev.target.value)
    },
    getEncodeExtraLength (text = null) {
      text = text || this.value || ''
      if (this.encoding == 'unicode' || this.gsmOnly) return 0
      return text.split(SmsTools.doubleBytePattern).length - 1
    },
    sanitize(string) {
      let sanitized = string.replace(/<\/?[A-z0-9\-_]+[A-z0-9\-_\s=":/#\\\.@]*>/g, '')
      if (!this.gsmOnly) return sanitized
      return sanitized.replace(SmsTools.sanitizePattern, '')
    }
  }
}
</script>
