<template>
  <div>
    <ch-loading-spinner :toggle="isLoading"></ch-loading-spinner>
    <div v-if="paginated" class="uk-tile uk-tile-muted uk-padding-small uk-padding-remove-vertical">
      <nav class="uk-navbar-container" uk-navbar>
        <div class="nav-overlay uk-navbar-left">
          <div class="uk-navbar-item uk-padding-remove-horizontal">Risultati  {{(pagination.from || 0) + '-' + (pagination.to || 0)}} di {{pagination.total}} | <pagination
              classes="uk-margin-remove"
              :current-page="pagination.current_page"
              :last-page="pagination.last_page"
              @click="populateData"
            ></pagination>
            </div>
        </div>
        <div class="nav-overlay uk-navbar-right">
          <form class="uk-search uk-search-default uk-visible@s" @submit.prevent="filterSearch(search)" v-if="searchable">
            <button type="submit" class="uk-search-icon-flip" uk-search-icon></button>
            <input class="uk-search-input" type="search" placeholder="Cerca..." autofocus v-model.lazy="search">
          </form>
          <a class="uk-navbar-toggle uk-hidden@s" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#" v-if="searchable"></a>
        </div>
        <div class="nav-overlay uk-navbar-left uk-flex-1 uk-hidden@s" hidden @submit.prevent="filterSearch(search)" v-if="searchable">
          <div class="uk-navbar-item uk-width-expand">
            <form class="uk-search uk-search-navbar uk-width-1-1">
              <input class="uk-search-input" type="search" placeholder="Cerca..." autofocus v-model.lazy="search">
            </form>
          </div>
          <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
        </div>
      </nav>
    </div>
    <slot name="filters" :filters="filters"></slot>
    <div v-if="exportFormats.length > 0" class="uk-text-right">
      <span class="uk-text-muted">Esporta:</span>
      <button class="uk-button uk-button-text uk-margin-left" v-for="format in exportFormats" :key="format.id" @click.prevent="exportData(format)" :disabled="!data || data.length <= 0">{{ format.label }}</button>
    </div>
    <table class="uk-table uk-table-responsive uk-table-hover uk-table-striped" v-if="data && data.length > 0">
      <thead>
        <tr>
          <th v-for="field in fields" :key="field.name">
            <a v-if="field.sortable" href="#" @click.prevent="sort((field.orderField || field.name))">
              {{field.label}}
              <span v-show="orderBy === (field.orderField || field.name) && orderAsc" uk-icon="icon: triangle-down" class="uk-align-right uk-margin-remove-vertical"></span>
              <span v-show="orderBy === (field.orderField || field.name) && !orderAsc" uk-icon="icon: triangle-up" class="uk-align-right uk-margin-remove-vertical"></span>
            </a>
            <span v-else v-html="field.label"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in data" :key="item.id "@click="clickItem(item.id)">
          <td v-for="field in fields" :key="item.id+'.'+field.name">
            <slot v-if="isSlot(field) != ''" :name="isSlot(field)" :item="item" :field="field"></slot>
            <div v-else v-html="cellContent(item, field)"></div>
          </td>
        </tr>
      </tbody>
    </table>
    <div v-else>
      <h4 class="uk-text-muted uk-text-center" v-text="emptyText"></h4>
    </div>
  </div>
</template>
<script>
import _ from 'lodash'
import ApiComponent from './mixins/ApiComponent'
import Pagination from './ChPagination'
import ChLoadingSpinner from './ChLoadingSpinner'

export default {
  mixins: [
    ApiComponent
  ],
  components: {
    pagination: Pagination,
    chLoadingSpinner: ChLoadingSpinner
  },
  props: {
    fields: {
      type: Array,
      required: true,
      default: []
    },
    paginated: {
      type: Boolean,
      default: true
    },
    searchable: {
      type: Boolean,
      default: true
    },
    editOnClick: {
      type: Boolean,
      default: true
    },
    emptyText: {
      type: String,
      default: 'Nessun contenuto trovato.'
    }
  },
  mounted() {
    this.populateData()
  },
  methods: {
    clickItem (itemId) {
      const baseHref = location.href + '/' + itemId;
      location.href = (this.editOnClick) ? baseHref + '/edit' : baseHref;
    },
    cellContent (item, field) {
      if (field.transform) {
        return field.transform[item[field.name]] || item[field.name] || '-'
      } else {
        return item[field.name] || '-'
      }
    },
    isSlot(field) {
      const slotIndex = field.name.indexOf('slot');
      if (slotIndex > -1) {
        return field.name.replace('slot:', '');
      };
      return ''
    }
  }
}
</script>
<style lang="scss">
  .uk-table-hover {
    tbody {
      tr {
        td {
          cursor: pointer
        }
      }
    }
  }
</style>