<template>
  <div>
    <div class="js-upload uk-placeholder uk-text-center" v-if="!singleIsUploaded">
      <span uk-icon="icon: cloud-upload"></span>
      <span class="uk-text-middle">Trascina qui l'immagine</span>
      <div uk-form-custom>
        <input type="file" :accept="accept" :multiple="multiple">
        <span class="uk-link">scegli il file</span>
      </div>
    </div>
    <progress id="js-progressbar" ref="progressbar" class="uk-progress uk-width-1-1" value="0" max="100" hidden></progress>
    <div class="uk-child-width-1-1
    uk-child-width-1-2@s" uk-grid v-if="files.length">
      <div v-for="picture in files" :key="picture">
        <div class="uk-card uk-card-default">
          <a href="#" class="uk-icon-button uk-button-danger uk-position-top-right" @click.prevent="confirmDelete(picture)" uk-icon="icon: trash"></a>
          <div class="uk-card-media-top">
            <img class="uk-align-center" :src="'/storage/'+picture">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import UIkit from 'uikit'
import axios from 'axios'
import _ from 'lodash'

export default {
  props: {
    value: {
      type: String
    },
    url: {
      type: String,
      default: ''
    },
    params: {
      type: Object,
      default: () => {}
    },
    multiple: {
      type: Boolean,
      default: true
    },
    accept: {
      type: String,
      default: '*'
    }
  },
  data() {
    return {
      token: null,
      files: []
    }
  },
  computed: {
    singleIsUploaded() {
      return this.files.length && !this.multiple
    }
  },
  watch: {
    files (newVal) {
      this.$emit('input', (this.multiple) ? newVal : newVal[0] || null)
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      if (this.value != null) this.files = _.concat(this.files, this.value)
      this.token = this.getTokenFromDOM()
      UIkit.upload('.js-upload', {
        url: this.url,
        multiple: this.multiple,
        beforeSend: this.beforeSend,
        beforeAll: this.beforeAll,
        load: this.load,
        error: this.error,
        complete: this.complete,
        loadStart: this.loadStart,
        progress: this.progress,
        loadEnd: this.loadEnd,
        completeAll: this.completeAll
      })
    },
    getTokenFromDOM() {
      let token = document.head.querySelector('meta[name="csrf-token"]');
      if (token) {
        return token.content
      } else {
          console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
          return null
      }
    },
    beforeSend() {
      // console.log('Before Send', arguments)
      arguments[0].headers['X-CSRF-TOKEN'] = this.token
    },
    beforeAll() {
      // console.log('Before All', arguments)
      arguments[0].params = _.extend(arguments[0].data, this.params)
    },
    load() {
      // console.log('Load', arguments)
    },
    error() {
      // console.log('Error', arguments)
    },
    complete() {
      // console.log('Complete', arguments)
      const response = JSON.parse(arguments[0].response)
      this.files = _.union(this.files, response.data.paths)
    },
    loadStart(e) {
      // console.log('Load Start', e, arguments)
      this.$refs.progressbar.removeAttribute('hidden')
      this.$refs.progressbar.max = e.total
      this.$refs.progressbar.value = e.loaded
    },
    progress(e) {
      // console.log('Progress', e, arguments)
      this.$refs.progressbar.max = e.total
      this.$refs.progressbar.value = e.loaded
    },
    loadEnd(e) {
      // console.log('Load End', e, arguments)
      this.$refs.progressbar.max = e.total
      this.$refs.progressbar.value = e.loaded
    },
    completeAll() {
      // console.log('Complete All', arguments)
      setTimeout(() => {
          this.$refs.progressbar.setAttribute('hidden', 'hidden')
        }, 1000)
    },
    confirmDelete(file) {
      const vm = this
      UIkit.modal.confirm('Eliminare il file?').then(() => {
        vm.deleteFile(file)
      }).catch(() => { console.log('deletion cancelled')});
    },
    deleteFile(path) {
      const vm = this
      if (path && vm.url) {
        return axios.delete(vm.url, {
          params: {
            'path': path
          }
        }).then(() => {
          vm.files = _.reject(vm.files, file => file === path)
        })
      }
    }
  }
}
</script>
<style>
  .uk-placeholder {
    border: 1px dashed #e5e5e5;
    padding: 30px;
  }
</style>