@import "../../../node_modules/uikit/src/less/uikit.theme.less";

@global-muted-background: #e9ebf2;
@global-muted-color: desaturate(darken(@global-muted-background, 40%), 24%);
@button-default-border: lighten(@global-muted-color, 30%);

.uk-pagination > * > :focus {
  color: @pagination-item-color;
}

.uk-width-1-7, .uk-child-width-1-7 > * {
  width: 100%/7;
}

#communication-form .uk-sticky.uk-active {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

@media screen and (max-width: 580px) {
  .ch-form-buttons {
    .uk-button {
      font-size: 0.8em;
      padding: 0 @button-padding-horizontal / 2;
    }
  }
}
